<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 * @Copyright (C) 2016 Igor Agafonov
 * @licenseGPL
-->

<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PrgTestEntity">
            <directory>./PrgTest/Entity</directory>
        </testsuite>
        <testsuite name="PrgTestMapper">
            <directory>./PrgTest/Mapper</directory>
        </testsuite>
        <testsuite name="PrgTestEntity">
            <directory>./PrgTest/Service</directory>
        </testsuite>
    </testsuites>
</phpunit>
